.cta-primary {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  @media (min-width: 640px) {
    .cta-primary {
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }
  @media (max-width: 1000px) {
    .cta-primary .cta-image img{
      display: none;
    }
  }
  .cta-primary .cta-container {
    max-width: 36rem;
  }
  .cta-primary .cta-container .cta-details {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .cta-primary .cta-container .cta-details h3 {
    font-size: 1.875rem;
    line-height: 2.25rem;
    color: #1f2937;
    font-weight: 600;
  }
  .cta-primary .cta-container .cta-details h3 span {
    color: #EE6983;
  }
  @media (min-width: 768px) {
    .cta-primary .cta-container .cta-details h3 {
      font-size: 2.25rem;
      line-height: 2.5rem;
    }
  }
  .cta-primary .cta-container .cta-details p {
    color: #6b7280;
    line-height: 1.625;
    margin-top: 0.75rem;
  }
  .cta-primary .cta-container .cta-btn {
    padding: 0.5rem 1rem 0.5rem 1rem;
    color: #ffffff;
    background-color: #850E35;
    font-weight: 500;
    border-radius: 999px;
    display: inline-flex;
    align-items: center;
  }
  .cta-primary .cta-container .cta-btn svg {
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 0.25rem;
    transition-duration: 150ms;
  }
  .cta-primary .cta-container .cta-btn:hover svg {
    transform: translateX(5px);
  }
  .cta-primary .cta-image{
    margin-right: 10px;
  }
  .cta-primary .cta-image img{
    max-width: 350px;
    max-height: 350px;
  }
  /* search bar */
  .search-form-primary {
    max-width: 28rem;
    padding: 0px 1rem 0px 1rem;
    margin: 3rem auto 0px auto;
  }
  .search-form-primary .search-form-container {
    position: relative;
  }
  .search-form-primary .search-form-container .search-icon {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 1.5rem;
    height: 1.5rem;
    margin-top: auto;
    margin-bottom: auto;
    left: 0.75rem;
    color: #9ca3af;
  }
  .search-form-primary .search-form-container .search-input {
    width: 100%;
    padding: 0.75rem 1rem 0.75rem 3rem;
    color: #6b7280;
    border: solid 1px #e5e7eb;
    border-radius: 0.375rem;
    outline: none;
    background-color: #f9fafb;
  }
  .search-form-primary .search-form-container .search-input:focus {
    background-color: #FFF;
    border: #4f46e5 1px solid;
  }
  
  /* cards dashboard*/
  .cards-primary {
    margin: 3rem auto 0px auto;
    padding: 0px 1rem 0px 1rem;
    max-width: 1280px;
  }
  @media (min-width: 1024px) {
    .cards-primary {
      padding: 0px 2rem 0px 2rem;
    }
  }
  .cards-primary .cards-header {
    text-align: center;
  }
  .cards-primary .cards-header h1 {
    font-size: 1.875rem;
    line-height: 2.25rem;
    color: #850E35;
    font-weight: 600;
  }
  .cards-primary .cards-header p {
    margin-top: 0.75rem;
    color: #6b7280;
  }
  .cards-primary .card-container {
    margin-top: 1rem;
    display: grid;
    gap: 0.5rem;
    padding-bottom: 50px;
  }
  @media (min-width: 640px) {
    .cards-primary .card-container {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }
  @media (min-width: 1024px) {
    .cards-primary .card-container {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
  }
  .cards-primary .card-container .card {
    box-shadow: 0 10px 15px -3px #0000001a, 0 4px 6px -4px #0000001a;
    max-width: 28rem;
    margin: 1rem auto 0px auto;
    border: solid 1px #e5e7eb;
    border-radius: 0.375rem;
    transition-duration: 300ms;
  }
  .cards-primary .card-container .card:hover {
    box-shadow: 0 1px 2px 0 #0000000d;
    background-color: #fdefd8;
  }
  .cards-primary .card-container .card .card-details img {
    width: 100%;
    height: 12rem;
    border-top-left-radius: 0.375rem;
    border-top-right-radius: 0.375rem;
  }
  .cards-primary .card-container .card .card-details .card-header {
    margin: 0.5rem 0.5rem 0px 0.5rem;
    padding-top: 0.75rem;
  }
  .cards-primary .card-container .card .card-details .card-header .avatar {
    flex: none;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
  }
  .cards-primary .card-container .card .card-details .card-header .avatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
  .cards-primary .card-container .card .card-details .card-header .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0.5rem;
  }
  .cards-primary .card-container .card .card-details .card-header .info .cost {
    display: block;
    color: #850E35;
    font-weight: bold;
  }
  .cards-primary .card-container .card .card-details .card-header .info .date {
    display: block;
    color: #9ca3af;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  .cards-primary .card-container .card .card-details .card-footer {
    padding-top: 0.75rem;
    margin: 0px 0.5rem 0.75rem 0.5rem;
  }
  .cards-primary .card-container .card .card-details .card-footer h3 {
    font-size: 1.25rem;
    line-height: 1.75rem;
    color: #111827;
  }
  .cards-primary .card-container .card .card-details .card-footer p {
    margin-top: 0.25rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: #9ca3af;
    width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .cards-primary .card-container .card .card-details .card-archive {
    margin: 0px 0.5rem 0.5rem 0.5rem;
    font-weight: bold;
  }

  .cards-primary .card-container .card .card-details .card-archive p {
    margin-top: 0.25rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: #850E35;
    width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .cards-primary .card-container .card .card-details .card-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.5rem;
  }
  .cards-primary .card-container .card .card-details .card-actions i {
    cursor: pointer;
    border-radius: 5px;
    margin: 0 5px;
  }

  /* Create Product */

  .create_product{
    max-width:500px;
    margin: 10px auto 50px auto;
    color: #850E35;
    padding: 0 15px 20px 15px;

    background: rgba(255, 255, 255, 0.12);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.7px);
    -webkit-backdrop-filter: blur(4.7px);
    border: 1px solid rgba(255, 255, 255, 0.1);
}
label{
    font-weight: 600;
}

.create_product h2{
    text-transform:uppercase; 
    text-transform: uppercase;
    font-size: 2rem;
    margin: 20px 0;
    letter-spacing: 1.5px; 
    text-align: center;
}

.create_product input,textarea{
  width: 100%;
  height: 35px;
  margin: 10px 0;
  border: 2px solid #777;
  outline: none;
  padding: 0 10px;
}

.create_product textarea{
  height: 75px;
  max-width: 100%;
}

/* .create_product .row a{
    color:crimson;
}
 */
.create_product .file input{
  border: none;
}

.create_product .row button{
  width: 100px;
  padding: 10px 0;
  color: white;
  background: #850E35;
  font-weight: bold;
  border-radius: 5px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  margin-right: 10px;
}


/* View products */

.cta-secondary {
  position: relative;
  max-width: 1280px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
}
@media (min-width: 640px) {
  .cta-secondary {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
.cta-secondary .cta-cover {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  
  background: rgba(255, 255, 255, 0.12);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.7px);
  -webkit-backdrop-filter: blur(4.7px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.cta-secondary .cta-container {
  position: relative;
  z-index: 10;
  gap: 1.25rem;
}
@media (min-width: 1024px) {
  .cta-secondary .cta-container {
    display: flex;
    align-items: center;
  }
}
.cta-secondary .cta-container .cta-details {
  flex: 1;
  max-width: 32rem;
  padding: 20px;
}

.cta-secondary .cta-container .cta-details .first {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  font-size: 20px;
}
.cta-secondary .cta-container .cta-details .second {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
 
}

@media (min-width: 640px) {
  .cta-secondary .cta-container .cta-details {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}
/* @media (min-width: 1024px) {
  .cta-secondary .cta-container .cta-details {
    max-width: max-content;
    text-align: left;
  }
} */
.cta-secondary .cta-container .cta-details h3 {
  font-size: 1.875rem;
  line-height: 2.25rem;
  color: #850E35;
  font-weight: 600;
}

@media (min-width: 768px) {
  .cta-secondary .cta-container .cta-details h3 {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
}
.cta-secondary .cta-container .cta-details p {
  color: #6b7280;
  line-height: 1.625;
  margin-top: 0.75rem;
}
.cta-secondary .cta-container .cta-details .cta-btn {
  margin-top: 1.25rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  color: white;
  background-color: #850E35;
  font-weight: 500;
  border-radius: 999px;
  display: inline-flex;
  align-items: center;
}
.cta-secondary .cta-container .cta-details .cta-btn svg {
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 0.25rem;
  transition-duration: 150ms;
}
.cta-secondary .cta-container .cta-image {
  flex: 1;
  margin-top: 1.25rem;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 640px) {
  .cta-secondary .cta-container .cta-image {
    width: 75%;
  }
}
@media (min-width: 1024px) {
  .cta-secondary .cta-container .cta-image {
    margin-top: 0px;
    width: auto;
    max-width: 50%;
    max-height: 50%;
  }
}
.cta-secondary .cta-container .cta-image img {
  width: 100%;
}

/* edit page */

.create_product .avatar{
  max-width: 480px;
  max-height: 320px;
  overflow: hidden;
  position: relative;
  margin: 15px auto;
  border: 1px solid #FFC4C4;
  /* border-radius: 50%; */
  cursor: pointer;
}

.create_product img{
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.create_product .avatar span{
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  height: 50%;
  background: #fff8;
  text-align: center;
  font-weight: 400;
  text-transform: uppercase;
  color: rgb(255, 140, 45);
  transition: 0.3s ease-in-out;
}

.create_product .avatar:hover span{
  bottom: -15%;
}

.create_product #file_up{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;
}


.create_product #isArchived{
  width: 20px;
  height: 20px;
  transform: translateY(3px);
  margin: 10px 5px 20px 0;
}
.create_product #isArchive + label{
  display: inline-block;
  margin-left: 5px;
}

.back .go_back{
  color: white;
  background-color: #850E35;
  padding: 10px;
  margin: 10px 0 0 10px;
}