header{
    width: 100%;
    min-height: 100px;
    background: #850E35;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 30px;
}
header .logo {
    display: flex;
    font-size: 13px;
}
header .logo h1{
    margin-left: 10px;
}
header .logo img{
    max-width: 35px;
    max-height: 35px;
}
header a{
    color: white;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}
header ul li{
    display: inline-block;
    padding: 10px 20px;
    opacity: 0.9;
}
header ul li:hover{
    opacity: 1;
}

header ul li img{
    width: 30px;
    height: 30px;
    transform: translateY(10px);
    border-radius: 50%;
}

/* --------- Dropdown ---------- */
.drop-nav{
    position: relative;
    padding: 10px 0;
}
 .drop-nav a{
    text-transform: capitalize;
    overflow: hidden;
}
.drop-nav .dropdown{
    position: absolute;
    background: #850E35;
    width: 100%;
    width: calc(100% + 30px);
    top: 50px;
    display: none;
    
}
.drop-nav .dropdown li{
    display: block;
}
.drop-nav:hover .dropdown{
    display: block;
} 

@media (max-width: 640px) {
    .logo h1{
        display: none;
    }
  }